{% extends 'KidsBackendBundle::Template_Admin.html.twig' %}

{% block body %}

    <div class="box-header">
        <h3 class="box-title">Gallerie des images</h3>



        <div class="input-group input-group-sm" style="margin-top: 50px">
            <label>Selectionner l'etablissement</label>
            <form style="margin: 2%;" class="example" action="{{ path('afficherGallerieByEtab') }}">

            <div class="input-group" style="width: 500px;">
                <select name="idEtab"  class="form-control">
                    <option >Voir tout</option>

                    {% for i in etab %}
                        <option value="{{ i.id }}">{{ i.nomEtablissement }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn" >
                      <button type="submit" class="btn btn-info ">Go!</button>
                    </span>
            </div>

            </form>

        </div>

        </div>
    <div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <tbody>
            <tr>
                <th>Description</th>
                <th>Nom Etablissement</th>
                <th>Responsable Etablissement</th>
                <th>Image</th>


            </tr>
            {% for key in gallerie %}
                <tr>
                    <td>{{ key.descriptionImageGallery }}</td>
                   <td >{{ key.etablissementId.nomEtablissement }}</td>
                    <td>{{ key.etablissementId.idUserEtablissement.email }}</td>

                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{ key.id }}">
                            Consulter image
                        </button>
                    </td>

                    <div class="modal modal-success fade" id="{{ key.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <img src="{{ asset('uploads/images/' ~ key.imageGallery) }}" style="width: 100%;">
                            </div>
                        </div>
                    </div>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <link rel="stylesheet" href="{{ asset('template_Admin_Principal/dist/css/skins/_all-skins.min.css') }}">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
{% endblock body %}
