{% extends 'KidsBackendBundle::Template_Admin.html.twig' %}

{% block body %}

    <div class="box-header">
        <h3 class="box-title">La liste des etablissement</h3>

        <div class="box-tools">

            <form style="margin: 2%;" class="example" action="{{ path('afficheretablissementparsearch')}}">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- /.box-header -->

    <div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <tbody>
            <tr>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Description</th>
                <th>Type etablissement</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Consulter Image</th>
                <th>Actions</th>


            </tr>
            {% for key in etablissement %}
                <tr>
                    <td >{{ key.nomEtablissement }}</td>
                    <td>{{ key.idUserEtablissement.email }}</td>
                    <td>{{ key.descriptionEtablissement }}</td>
                    <td>{{ key.typeEtablissement }}</td>
                    <td>{{ key.adresseEtablissement }}</td>
                    <td>{{ key.phone }}</td>

                    <td>
                        <button data-toggle="modal" data-target="#image{{ key.id }}" type="button" class="btn btn-block btn-primary btn-flat">Consulter image</button>

                    </td>
                    <td><button type="button" class="btn btn-block btn-danger btn-flat"><a href="{{ path('accepterEtablissement',{'id':key.id}) }}" style="color: white;">Accepter</a></button></td>
                    <td><button type="button" class="btn btn-block btn-warning btn-flat"><a href="{{ path('refuserEtablissement',{'id':key.id}) }}" style="color: white;">Refuser</a></button></td>

                </tr>
                <div class="modal modal-success fade" id="image{{ key.id }}">
                    <div class="modal-dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <img src="{{ asset('uploads/images/' ~ key.imageEtablissement) }}" style="width: 100%;" >
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <link rel="stylesheet" href="{{ asset('template_Admin_Principal/dist/css/skins/_all-skins.min.css') }}">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
{% endblock body %}

