{% extends 'KidsBackendBundle::Template_Admin.html.twig' %}

{% block body %}

    <h4><p class="login-box-msg">Ajouter Enfants </p></h4>
    <table border="2" bgcolor="#a52a2a" align="center" >

        {{ form_start(form) }}
        {{ form_errors(form) }}



        <div class="form-group has-feedback">
            {{ form_label(form.nomEnfant ,'Nom ') }}
            {{ form_errors(form.nomEnfant) }}
            {{ form_widget(form.nomEnfant,{'attr': {'class': 'form-control','placeholder': ""}}) }}

        </div>
        <div class="form-group has-feedback">
            {{ form_label(form.prenomEnfant ,'Prénom') }}
            {{ form_errors(form.prenomEnfant) }}
            {{ form_widget(form.prenomEnfant,{'attr': {'class': 'form-control','placeholder': ""}}) }}

        </div>
        <div class="form-group has-feedback">
            {{ form_label(form.ageEnfant ,'Age') }}
            {{ form_errors(form.ageEnfant) }}
            {{ form_widget(form.ageEnfant,{'attr': {'class': 'form-control','placeholder': "age"}}) }}

        </div>
        <div class="form-group has-feedback">
            {{ form_label(form.idUserParent ,'Parent') }}
            {{ form_errors(form.idUserParent) }}
            {{ form_widget(form.idUserParent,{'attr': {'class': 'form-control','placeholder': "Parent"}}) }}

        </div>



        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">

                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                {{ form_widget(form.Ajouter,{'attr': {'class': 'btn btn-primary btn-block btn-flat'}}) }}

            </div>
            <!-- /.col -->
        </div>

        {{ form_end(form) }}

    </table>
{% endblock body %}







