
{% extends 'KidsBackendBundle::Template_Admin.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {#Type#}
    <div class="form-group">
        <label for="nomTypePublication">Nom du type</label>
        {{ form_widget(form.nomTypePublication,{'attr':{'class':'form-control'}} ) }}
    </div>

    {#Submit#}
    <div class="form-group">
        {{ form_widget(form.Ajouter,{'attr':{'class':'btn btn-primary'}} ) }}
    </div>
    {{ form_end(form) }}

    <div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <tbody>
            <tr>
            <th style="width: 80%;">Titre</th>
            <th style="width: 20%;">Supprimer</th>
            </tr>
    {% for key in typePublication %}
        <tr>
            <td >{{ key.nomTypePublication }}</td>
            <td><button type="button" class="btn btn-block btn-danger btn-flat"><a href="{{ path('supprimertype_pubparid',{'id':key.id}) }}" style="color: white;">Supprimer</a></button></td>
        </tr>
    {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock body %}