{% extends "KidsBackendBundle::Template_Admin.html.twig" %}

{% block body %}

    <h1>liste des club</h1>
    Rechercher  :
<form method="post">
   Club: <input type="text" placeholder="nom du club" name="nomClub" >
    <input type="submit" placeholder="Recherche" name="submit" value="serch"  >

</form>
    <table border="2" class="table table-bordered table-hover" >
        <tr>
            <th>Photo Club</th>
            <th>Nom de Club</th>
            <th>Description du Club</th>
            <th>date Creation du Club </th>
            <th>Etablissement </th>
            <th>Adresse </th>

        </tr>
        {% for p in form %}
            <tr>

                <td>  <img src="{{ asset('uploads/images/' ~ p.imageClub) }}" style="width: 200px;height: 150px;"></img></td>
                <td > {{ p.nomClub}} </td>
                <td> {{ p.descriptionClub }} </td>
                <td> {{ p.dateCreationClub |date("d/m/Y") }} </td>
                <td> {{ p.idEtablissement.getNomEtablissement() }} </td>
                <th>{{ p.adresse }} </th>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
