{% extends '@KidsFront/Template_User.html.twig' %}



{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-left: -5%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="{{ asset('Template_front_principal/img/logo-school.png') }}"
                                             alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span
                                    class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabByParent') }}">Consulter les
                                    Etablissements</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherEnseignParent') }}">Consulter la liste des enseigants</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergallerie') }}">Consulter la gallerie des images</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop color-1 active ">
                        <a href="{{ path('publications') }}" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-1" aria-hidden="true">
                            </i>
                            <span class="active">Publications</span>
                        </a>

                    </li>

                    <li class="dropdown singleDrop color-5 active">
                        <a href="{{ path('afficherespaceenfant') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-gg bg-color-5" aria-hidden="true"></i>
                            <span class="active">Espace Kids</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('ProduitAfficherFront') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Produit</span></a>
                    </li>
                    <li class="dropdown singleDrop color-5 active">
                        <a href="{{ path('afficheclubsfront') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-gg bg-color-5" aria-hidden="true"></i>
                            <span class="active">Clubs</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('services') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Service</span></a>
                    </li>

                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Réclamations</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ url('fos_message_inbox' ) }}">Mes réclamations</a></li>
                            <li class=" "><a href="{{ url('fos_message_thread_new' ) }}">Envoyer nouvelle reclamation</a>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


{% endblock Menu %}

{#{% block favoris %}#}
    {#<li class="cart-dropdown">#}
        {#<a href="#" class="bg-color-6 shop-cart">#}
            {#<i class="fa fa-shopping-basket " aria-hidden="true"></i>#}
            {#<span class="badge bg-color-1">{{ favoris|length }}</span>#}
        {#</a>#}
        {#<ul class="dropdown-menu dropdown-menu-right">#}
            {#<li><i class="fa fa-shopping-basket " aria-hidden="true"></i>{{ favoris|length }} items in your cart</li>#}

            {#{% for i in favoris %}#}

                {#{% if loop.index < 2 %}#}
                    {#<li>#}
                        {#<a href="">#}
                            {#<div class="media">#}
                                {#<div class="media-left">#}

                                    {#<img src="{{ asset('uploads/images/' ~ i.etablissement.imageEtablissement) }}"#}
                                         {#alt="cart-Image">#}
                                {#</div>#}
                                {#<div class="media-body">#}
                                    {#<h4>{{ i.etablissement.nomEtablissement }}</h4>#}
                                {#</div>#}
                            {#</div>#}
                        {#</a>#}
                        {#<span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>#}
                    {#</li>#}

                {#{% elseif loop.index == 2 %}#}
                    {#<li>#}
                        {#<a href="{{ path('getAllFavoris') }}">#}
                            {#<button type="button" class="btn btn-primary">Voir plus</button>#}
                        {#</a>#}
                    {#</li>#}

                {#{% endif %}#}

            {#{% endfor %}#}
        {#</ul>#}
    {#</li>#}
{#{% endblock favoris %}#}


{% block bandeau %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                {#<i><h2>Bonjour {{ app.user.username|default('') }}</h2></i>#}
                {#<br>#}

                <h2 style="font-style: normal; "> </h2>
            </div>
        </div>
    </section>
{% endblock bandeau %}

{% block body %}


    <section class="mainContent full-width clearfix coursesSection">
    <div class="container">

            <div class="sectionTitle text-center">
                <h2>
                    <span class="shape shape-left bg-color-4"></span>
                    <span>Listes des Clubs</span>
                    <span class="shape shape-right bg-color-4"></span>
                </h2>
            </div>
            {% for p in form %}

                <div class="media courseList couresListPage">
                    <a class="media-left border-color-1" href="course-single-left-sidebar.html">
                        <img class="media-object" src="{{ asset('uploads/images/' ~ p.imageClub) }}" alt="Image">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="course-single-left-sidebar.html" class="color-1">{{ p.nomClub }}</a></h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-calendar-o" aria-hidden="true">{{ p.idEtablissement.getNomEtablissement()}}</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ p.dateCreationClub |date("d/m/Y") }}</li>
                        </ul>
                        <p> {{ p.descriptionClub }}  </p>
                        <ul class="list-inline btn-yellow btnPart">

                            <li><a href="{{ path('map',{'id':p.id})}}" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Afficher Map</a></li>
                        </ul>
                    </div>
                </div>



            {% endfor %}



    </div>



{% endblock %}