{% extends 'KidsFrontBundle::Template_User.html.twig' %}


{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ><img src="{{ asset('Template_front_principal/img/logo-school.png') }}" alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1  ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabPrestataireInfo') }}">Consulter les détails</a></li>
                            <li class=""><a href="{{ path('modifieretablissement') }}">Modifier les informations de l'etablissement</a></li>
                            <li class=""><a href="{{ path('ajouterEtablissement') }}">Ajouter un établissement</a></li>
                            <li class=""><a href="index-v4.html">Supprimer </a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherprof') }}">Consulter liste des enseigants</a></li>
                            <li class=" "><a href="{{ path('ajouterEnseignant') }}">Ajouter Enseignant</a></li>
                            <li class=" "><a href="{{ path('afficherprofpourmodifier') }}">Modifier Enseignant</a></li>
                            <li class=" "><a href="{{ path('afficherprofpoursupprimer') }}">Supprimer Enseignant</a></li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop color-4">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span>Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergalleriePres') }}">Consulter la gallerie des images</a></li>
                            <li class=" "><a href="{{ path('ajouterGallerieImage') }}">Ajouter une image</a></li>
                            <li class=" "><a href="{{ path('afficherimagepourmodifier') }}">Modifier une image</a></li>
                            <li class=" "><a href="{{ path('afficherimagepoursupprimer') }}">Supprimer une image de la gallerie</a></li>
                        </ul>
                    </li>


                </ul></div>
        </div>
    </nav>


{% endblock Menu %}
{% block bandeau %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <i><h2>Espace Prestataire de service</h2> </i>
                        <br>

                        <h2>Bienvenue {{ app.user.username|default('') }}</h2>
                <ol class="breadcrumb">
                    <li><a href="{{ path('ajouterEtablissement') }}">Ajouter un etablissement</a></li>
                    {#<li class="active">Teachers</li>#}
                </ol>
            </div>
        </div>
    </section>
{% endblock bandeau %}



 {% block body %}


     {{ form_start(form) }}
     <section class="mainContent full-width clearfix" style="margin-top: 50px">
         <div class="container">

             <div class="row">
                 <div class="col-sm-4 col-sm-push-8 col-xs-12">

                 </div>
                 <div>
                     <form action="#" method="POST" role="form" class="form">
                         <div class="panel panel-default checkoutInfo">
                             <div class="panel-heading bg-color-3 border-color-3">
                                 <h3 class="panel-title" style="text-align: center;">Informations générales requises pour l'ajout d'un nouveau établissement</h3>
                             </div>
                             <div class="panel-body">
                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">Nom Etablissement</label>
                                         {{ form_widget(form.nomEtablissement,{'attr':{'class':'form-control border-color-1'}} ) }}

                                         {#<input type="text" class="form-control border-color-1" id="">#}
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">Téléphone Etablissement</label>
                                         {{ form_widget(form.phone,{'attr':{'class':'form-control border-color-3'}} ) }}
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-xs-12">
                                         <label for="">Addresse Etablissement</label>
                                         {{ form_widget(form.adresseEtablissement,{'attr':{'class':'form-control border-color-2'}} ) }}
                                     </div>
                                 </div>


                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="imagePub">Joindre Image Etablissement</label>
                                         {{ form_widget(form.imageEtablissement,{'attr':{'class':'form-control border-color-6'}} ) }}
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">Cité</label>
                                         {{ form_widget(form.cityEtablissement,{'attr':{'class':'form-control border-color-5'}} ) }}

                                         {#<input type="text" class="form-control border-color-5" id="">#}
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">Code postal</label>
                                         {{ form_widget(form.codepostalEtablissement,{'attr':{'class':'form-control border-color-6'}} ) }}

                                         {#<input type="text" class="form-control border-color-6" id="">#}
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">State/Region</label>
                                         {{ form_widget(form.regionEtablissement,{'attr':{'class':'form-control border-color-1'}} ) }}

                                         {#<input type="text" class="form-control border-color-1" id="">#}
                                     </div>
                                 </div>


                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">Country</label>
                                         <div class="bookingDrop">
                                             {{ form_widget(form.countryEtablissement,{'attr':{'class':'select-drop'}} ) }}
                                         </div>
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">Type d'etablissement</label>
                                         <div class="bookingDrop">
                                             {{ form_widget(form.typeEtablissement,{'attr':{'class':'select-drop'}} ) }}
                                         </div>
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-sm-6 col-xs-12">
                                         <label for="">Horaire de travail</label>
                                         <div class="bookingDrop">
                                             {{ form_widget(form.horaireEtablissement,{'attr':{'class':'select-drop'}} ) }}
                                         </div>
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-xs-12">
                                         <label for="">Description</label>
                                         {{ form_widget(form.descriptionEtablissement,{'attr':{'class':'form-control border-color-5'}} ) }}
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="col-xs-12">
                                         <label for="">Requirements</label>
                                         {{ form_widget(form.exigenceEtablissement,{'attr':{'class':'form-control border-color-5'}} ) }}

                                         {#<textarea class="form-control border-color-5"></textarea>#}
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="checkbox col-xs-12">
                                         <label>
                                             <input type="checkbox"> I have read and accept the <a href="#">terms and conditions</a>
                                         </label>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="continueBtnArea">
                             <ul class="list-inline">
                                 <li><a href="javascript:void(0)" class="btn btn-primary">back</a></li>


                                 <li class="pull-right">
                                     {#<a href="{{ path('ajouterEtablissement2') }}" class="btn btn-primary">next</a>#}
                                     {{ form_widget(form.AjouterEtablissement,{'attr':{'class':'btn btn-primary'}} ) }}

                                 </li>
                             </ul>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     {{ form_end(form) }}
     </section>


 {% endblock body %}