{% extends 'KidsFrontBundle::Template_User.html.twig' %}


{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="{{ asset('Template_front_principal/img/logo-school.png') }}"
                                             alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span
                                    class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabByParent') }}">Consulter les
                                    Etablissements</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherEnseignParent') }}">Consulter la liste des enseigants</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherGallerieParent') }}">Consulter la gallerie des images</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop color-1 active ">
                        <a href="{{ path('publications') }}" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-1" aria-hidden="true">
                            </i>
                            <span class="active">Publications</span>
                        </a>

                    </li>
                    <li class="dropdown singleDrop color-5 active">
                        <a href="{{ path('afficherespaceenfant') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-calendar bg-color-5" aria-hidden="true"></i>
                            <span class="active">Espace enfant</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('services') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Service</span></a>
                    </li>

                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Réclamations</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergallerie') }}">Mes réclamations</a></li>
                            <li class=" "><a href="{{ url('fos_message_thread_new' ) }}">Envoyer nouvelle reclamation</a>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


{% endblock Menu %}


{% block favoris %}
    <li class="cart-dropdown">
        <a href="#" class="bg-color-6 shop-cart">
            <i class="fa fa-shopping-basket " aria-hidden="true"></i>
            <span class="badge bg-color-1">{{ favoris|length }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><i class="fa fa-shopping-basket " aria-hidden="true"></i>{{ favoris|length }} items in your cart</li>

            {% for i in favoris %}

                {% if loop.index < 2 %}
                    <li>
                        <a href="">
                            <div class="media">
                                <div class="media-left">

                                    <img src="{{ asset('uploads/images/' ~ i.etablissement.imageEtablissement) }}"
                                         alt="cart-Image">
                                </div>
                                <div class="media-body">
                                    <h4>{{ i.etablissement.nomEtablissement }}</h4>
                                    {#<div class="price">#}
                                    {#<span class="color-1">{{ i.etablissement.adresseEtablissement }}</span>#}
                                    {#</div>#}
                                    {#<span class="amount">Qnt: 1</span>#}
                                </div>
                            </div>
                        </a>
                        <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
                    </li>

                {% elseif loop.index == 2 %}
                    <li>
                        <a href="{{ path('getAllFavoris') }}">
                            <button type="button" class="btn btn-primary">Voir plus</button>
                        </a>
                    </li>

                {% endif %}

            {% endfor %}
        </ul>
    </li>
{% endblock favoris %}

{% block bandeau %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <h2> </h2>
                <ol class="breadcrumb">
                    <li class="active"> </li>
                </ol>
            </div>
        </div>
    </section>
{% endblock bandeau %}

{% block body %}
<div class="sectionTitle text-center">
    <h2 style="margin-bottom: 3%">
        <span class="shape shape-left bg-color-4"></span>
        <span>Creer un espace enfant</span>
        <span class="shape shape-right bg-color-4"></span>
    </h2>
</div>

{{ form_start(form) }}
<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="sectionTitle text-center">
            <div class="row">
                <div class="col-xs-12">
                    <div class="homeContactContent">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    {{ form_widget(form.nomActivite,{'attr':{'class':'form-control border-color-4', 'placeholder': 'Activité'}} ) }}

                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    {{ form_widget(form.contenuActivite,{'attr':{'class':'form-control border-color-4', 'placeholder': 'Contenu'}} ) }}

                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="formBtnArea">
                                    {{ form_widget(form.Valider,{'attr':{'class':'btn btn-info not-rounded bg-color-3 border-color-3'}} ) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    {{ form_end(form) }}

{% endblock body %}