{% extends 'KidsFrontBundle::Template_User.html.twig' %}
 {% block ajouteretablissement %}

<section class="mainContent full-width clearfix courseSingleSection">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block">
                <div class="thumbnail thumbnailContent alt">
                    <img src="{{ asset('uploads/images/' ~ detail.imageEtablissement) }}" alt="image" class="img-responsive">
                    <div class="caption border-color-1">
                        <h3 class="color-1">{{ detail.nomEtablissement }}</h3>
                        <p>{{ detail.descriptionEtablissement }}</p>
                        {#<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>#}
                    </div>
                </div>
                <div class="btnArea">

                    <label for="input-3" class="control-label">Donner une note à cet établissement:</label>
                    <input id="input-3" name="input-3" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="5">

                    <a href="" class="btn btn-primary">Envoyer votre votre à {{ detail.nomEtablissement }}</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <aside>
                    <div class="rightSidebar">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-color-1 border-color-1">
                                <h3 class="panel-title">Course Information</h3>
                            </div>

                            <div class="panel-body">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left iconContent bg-color-2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-2">Creation Date</h4>
                                            <p>15 Oct,2016</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left iconContent bg-color-3">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-3">Etablissement Duration</h4>
                                            <p>{{ detail.horaireEtablissement }}</p>
                                        </div>
                                    </li>
                                    <li class="media iconContet">
                                        <div class="media-left iconContent bg-color-4">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-4">Contact</h4>
                                            <p>954 124 2542</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left iconContent bg-color-5">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-5">Event Venue</h4>
                                            <p>{{ detail.countryEtablissement }}<br> {{ detail.adresseEtablissement }}<br> {{ detail.codepostalEtablissement }}</p>
                                        </div>
                                    </li>
                                    <li><a href="#" class="btn btn-primary bg-color-6 btn-block">Register now</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="btnPart">
                            <a href="#" class="btn btn-primary btn-block bg-color-6">Enroll now</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

{% endblock ajouteretablissement %}
