{% extends 'KidsFrontBundle::templateAffichserv.html.twig' %}
{% block body %}
    <div class="col-md-9 col-sm-8 col-xs-12 block pull-right">

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {#<div class="teachersPhoto">#}
                    {#<img src="{{ asset('uploads/images/' ~ serv.imagServ) }}" alt="image" class="img-rounded img-responsive">#}
                {#</div>#}

                <div class="imagesPart clearfix">
                    <img src="{{ asset('uploads/images/' ~ serv.imagServ) }}" class="img-rounded">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="teachersInfo">
                    <h3>About Me</h3>
                    <p>{{ serv.descriptionService }}</p>

                   <p><br><br><br></p>
                    <p></p>
                    <ul class="list-inline">
                        <br><br><br>
                    </ul>

                </div>
            </div>
        </div>




        <div class="thumbnail thumbnailContent alt">
            <div class="caption border-color-1 singleBlog">
                <h3 class="color-1">{{ serv.nomService }}</h3>

                <div class="imagesPart clearfix">
                    {% include '@FOSComment/Thread/async.html.twig'  with {'id': 'foo'} %}

                </div>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
        <aside>
            <div class="rightSidebar">
                <div class="panel panel-default">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 class="panel-title">Information</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left iconContent bg-color-2">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="media-body iconContent">
                                    <h4 class="media-heading color-2">Adresse</h4>
                                    <p>{{ serv.adresseService }}</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left iconContent bg-color-3">
                                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                </div>
                                <div class="media-body iconContent">
                                    <h4 class="media-heading color-3">Contact</h4>
                                    <p>{{serv.contact  }}</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="btnPart">
                        <button  type="button" data-clicked="clicked"  data-toggle="modal" data-target="#modal-default" name="Reserver Rendez-vous"  class="btn btn-primary btn-block bg-color-6"Reserver Rendez-vous >
                            <a class="panel-title">Reserver Rendez-vous</a>
                        </button>

               </div>


            </div>
        </aside>

        {% include '@FOSComment/Thread/async.html.twig' with {'id': 'foo'} %}

    </div>




{% endblock %}
  {% block javascript %}
   {{ parent }}
  {% endblock javascript %}