{% extends 'KidsFrontBundle::Template_User.html.twig' %}

{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ><img src="{{ asset('Template_front_principal/img/logo-school.png') }}" alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1  ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabByParent') }}">Consulter les Etablissements</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherprof') }}">Consulter la liste des enseigants</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-4">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span>Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergallerie') }}">Consulter la gallerie des images</a></li>
                        </ul>
                    </li>
                </ul></div>
        </div>
    </nav>


{% endblock Menu %}

{% block favoris %}
    <li class="cart-dropdown">
        <a href="#" class="bg-color-6 shop-cart" >
            <i class="fa fa-shopping-basket " aria-hidden="true"></i>
            <span class="badge bg-color-1">{{ favoris|length }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><i class="fa fa-shopping-basket " aria-hidden="true"></i>{{ favoris|length }} items in your cart</li>

            {% for i in favoris %}

            {% if loop.index < 2 %}
                <li>
                    <a href="">
                        <div class="media">
                            <div class="media-left">

                                <img src="{{ asset('uploads/images/' ~ i.etablissement.imageEtablissement) }}" alt="cart-Image">
                            </div>
                            <div class="media-body">
                                <h4>{{ i.etablissement.nomEtablissement }}</h4>
                                {#<div class="price">#}
                                {#<span class="color-1">{{ i.etablissement.adresseEtablissement }}</span>#}
                                {#</div>#}
                                {#<span class="amount">Qnt: 1</span>#}
                            </div>
                        </div>
                    </a>
                    <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
                </li>

            {% elseif loop.index == 2%}
                <li>
                    <a href="{{ path('getAllFavoris') }}"><button type="button" class="btn btn-primary" >Voir plus</button> </a>
                </li>

            {% endif %}

            {% endfor %}
        </ul>
    </li>
{% endblock favoris %}


{% block bandeau %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <i><h2>Bonjour {{ app.user.username|default('') }}</h2></i>
                <br>

                <h2>Bienvenue dans votre espace parent</h2>
            </div>
        </div>
    </section>
{% endblock bandeau %}

 {% block body %}




 {% endblock body %}
