{% extends 'KidsFrontBundle::Template_User.html.twig' %}


{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-left: -5%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="{{ asset('Template_front_principal/img/logo-school.png') }}"
                                             alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span
                                    class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabByParent') }}">Consulter les
                                    Etablissements</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherEnseignParent') }}">Consulter la liste des enseigants</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergallerie') }}">Consulter la gallerie des images</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop color-1 active ">
                        <a href="{{ path('publications') }}" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-1" aria-hidden="true">
                            </i>
                            <span class="active">Publications</span>
                        </a>

                    </li>

                    <li class="dropdown singleDrop color-5 active">
                        <a href="{{ path('afficherespaceenfant') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-gg bg-color-5" aria-hidden="true"></i>
                            <span class="active">Espace Kids</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('ProduitAfficherFront') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Produit</span></a>
                    </li>


                    <li class="dropdown singleDrop color-5 active">
                        <a href="{{ path('afficherespaceenfant') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-gg bg-color-5" aria-hidden="true"></i>
                            <span class="active">Clubs</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('services') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Service</span></a>
                    </li>

                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Réclamations</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ url('fos_message_inbox' ) }}">Mes réclamations</a></li>
                            <li class=" "><a href="{{ url('fos_message_thread_new' ) }}">Envoyer nouvelle reclamation</a>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>




{% endblock Menu %}


{% block favoris %}
    <li class="cart-dropdown">
        <a href="#" class="bg-color-6 shop-cart">
            <i class="fa fa-shopping-basket " aria-hidden="true"></i>
            <span class="badge bg-color-1">{{ favoris|length }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><i class="fa fa-shopping-basket " aria-hidden="true"></i>{{ favoris|length }} items in your cart</li>

            {% for i in favoris %}

                {% if loop.index < 2 %}
                    <li>
                        <a href="">
                            <div class="media">
                                <div class="media-left">

                                    <img src="{{ asset('uploads/images/' ~ i.etablissement.imageEtablissement) }}"
                                         alt="cart-Image">
                                </div>
                                <div class="media-body">
                                    <h4>{{ i.etablissement.nomEtablissement }}</h4>
                                    {#<div class="price">#}
                                    {#<span class="color-1">{{ i.etablissement.adresseEtablissement }}</span>#}
                                    {#</div>#}
                                    {#<span class="amount">Qnt: 1</span>#}
                                </div>
                            </div>
                        </a>
                        <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
                    </li>

                {% elseif loop.index == 2 %}
                    <li>
                        <a href="{{ path('getAllFavoris') }}">
                            <button type="button" class="btn btn-primary">Voir plus</button>
                        </a>
                    </li>

                {% endif %}

            {% endfor %}
        </ul>
    </li>
{% endblock favoris %}

{% block bandeau %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <h2> </h2>
                <ol class="breadcrumb">
                    <li class="active"> </li>
                </ol>
            </div>
        </div>
    </section>
{% endblock bandeau %}

{% block body %}


    <div class="sectionTitle text-center">
        <h2 style="margin-bottom: 3%">
            <span class="shape shape-left bg-color-4"></span>
            <span style="font-style: normal;">Bienvenue {{ profil.nomEnfant }}</span>

            <span class="shape shape-right bg-color-4"></span>
            <h5 class="color-4" style="font-style: normal;font-size: 24px;margin-bottom: 3%;">Creez vos propres activités</h5>        </h2>
    </div>
    <div style="margin-left: 48%">
        <div class="media featuresContent">
            <a href="{{ path('creeractivite',{'id':profil.id}) }}", target="_blank">

              <span class="media-left bg-color-3">
                <i class="fa fa-support bg-color-3" aria-hidden="true"></i>
              </span>
            </a>
        </div>
    </div>
    <section class="mainContent full-width clearfix coursesSection" style="margin-top: -5%;">
        <div class="container">
            <div class="row">
                {#Left#}
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row">
                        {% for key in profill %}
                            {% if key.idProfileEnfant.id is same as(profil.id) %}
                                <div class="col-md-4 col-sm-6 col-xs-12 block">
                                    <div class="thumbnail thumbnailContent">
                                        <div class="sticker-round bg-color-4"><a style="color: white;" href="{{ path('imprimeractivite',{'id':key.id}) }}" target="_blank"><i class="fa fa-print"></i></a></div>
                                        <img class="media-object" src="{{ asset('uploads/images/' ~ key.contenuActivite) }}" alt="Image">
                                        <div class="caption border-color-4">
                                            <h3><a href="#" class="color-4">{{ key.nomActivite }}</a></h3>
                                            <ul class="list-inline btn-sky">
                                                <li><a href="{{ path('supprimeractivite',{'id':key.id, 'id1':key.idProfileEnfant.id}) }}" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Supprimer</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {#right#}
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <aside>
                        <div class="panel panel-default courseSidebar">
                            <div class="panel-heading bg-color-4 border-color-4">
                                <h3 class="panel-title" style="font-style: normal;">Informations</h3>
                            </div>
                            <div class="panel-body">

                                <p style="text-align: center;"><img class="media-object img-rounded border-color-1" src="{{ asset('uploads/images/' ~ profil.photoEnfant) }}" style="width: 35%;"></p>
                                <p>Nom : {{ profil.nomEnfant }}</p>
                                <p>Prenom : {{ profil.prenomEnfant }}</p>
                                <p>Age : {{ profil.ageEnfant }}</p>

                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </div>

    </section>

{% endblock body %}