{% extends 'KidsFrontBundle::Template_User.html.twig' %}

{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="{{ asset('Template_front_principal/img/logo-school.png') }}"
                                             alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span
                                    class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabByParent') }}">Consulter les
                                    Etablissements</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherprof') }}">Consulter la liste des enseigants</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergallerie') }}">Consulter la gallerie des images</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop color-1 active ">
                        <a href="{{ path('publications') }}" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-1" aria-hidden="true">
                            </i>
                            <span class="active">Publications</span>
                        </a>

                    </li>

                    <li class="dropdown singleDrop color-4 active" >
                        <a href="{{ path('afficherespaceenfant') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-gg bg-color-4" aria-hidden="true"></i>
                            <span class="active">Espace Kids</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('services') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Service</span></a>
                    </li>

                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Réclamations</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergallerie') }}">Mes réclamations</a></li>
                            <li class=" "><a href="{{ url('fos_message_thread_new' ) }}">Envoyer nouvelle reclamation</a>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


{% endblock Menu %}

{% block favoris %}
    <li class="cart-dropdown">
        <a href="#" class="bg-color-6 shop-cart">
            <i class="fa fa-shopping-basket " aria-hidden="true"></i>
            <span class="badge bg-color-1">{{ favoris|length }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><i class="fa fa-shopping-basket " aria-hidden="true"></i>{{ favoris|length }} items in your cart</li>

            {% for i in favoris %}

                {% if loop.index < 2 %}
                    <li>
                        <a href="">
                            <div class="media">
                                <div class="media-left">

                                    <img src="{{ asset('uploads/images/' ~ i.etablissement.imageEtablissement) }}"
                                         alt="cart-Image">
                                </div>
                                <div class="media-body">
                                    <h4>{{ i.etablissement.nomEtablissement }}</h4>
                                    {#<div class="price">#}
                                    {#<span class="color-1">{{ i.etablissement.adresseEtablissement }}</span>#}
                                    {#</div>#}
                                    {#<span class="amount">Qnt: 1</span>#}
                                </div>
                            </div>
                        </a>
                        <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
                    </li>

                {% elseif loop.index == 2 %}
                    <li>
                        <a href="{{ path('getAllFavoris') }}">
                            <button type="button" class="btn btn-primary">Voir plus</button>
                        </a>
                    </li>

                {% endif %}

            {% endfor %}
        </ul>
    </li>
{% endblock favoris %}


{% block bandeau %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                {#<i><h2>Bonjour {{ app.user.username|default('') }}</h2></i>#}
                {#<br>#}

                <h2 style="font-style: normal; "> </h2>
            </div>
        </div>
    </section>
{% endblock bandeau %}

 {% block body %}

     <section class="mainContent full-width clearfix" style="margin-top: 30px;height:150px; ">

         <div class="sectionTitle text-center">
             <h2 style="margin-bottom: 1%; margin-top: -2%">
                 <span class="shape shape-left bg-color-4"></span>
                 <span style="font-style: normal; ">Bienvenue {{ app.user.username|default('') }}</span>
                 <span class="shape shape-right bg-color-4"></span>
                 <h5 class="color-4" style="font-style: normal; font-size: 24px;">Notre Equipe</h5>
             </h2>
         </div>

     </section>
     <section class="whiteSection full-width clearfix testimonialArea">
         <div class="container">
             <div class="row testimonial-grid">
                 <div class="col-sm-4 col-xs-12">
                     <div class="testimonialContent  bg-color-1">
                         <span class="userSign border-color-1"><img src="{{ asset('Template_front_principal/img/testimonial/1.jpg') }}" alt="img" class="img-circle img-responsive"></span>
                         <p></p>
                         <h3 style="font-style: normal;">Arwa Achour <br> <small>Taches</small></h3>
                     </div>
                 </div>
                 <div class="col-sm-4 col-xs-12">
                     <div class="testimonialContent  bg-color-2">
                         <span class="userSign border-color-2"><img src="{{ asset('Template_front_principal/img/testimonial/1.jpg') }}" alt="img" class="img-circle img-responsive"></span>
                         <p></p>
                         <h3 style="font-style: normal;">Syrine Bouslimi<br> <small>Taches</small></h3>
                     </div>
                 </div>
                 <div class="col-sm-4 col-xs-12">
                     <div class="testimonialContent  bg-color-3">
                         <span class="userSign border-color-3"><img src="{{ asset('Template_front_principal/img/testimonial/1.jpg') }}" alt="img" class="img-circle img-responsive"></span>
                         <p></p>
                         <h3 style="font-style: normal;">Ali Mabrouki<br> <small>Taches</small></h3>
                     </div>
                 </div>
                 <div class="col-sm-4 col-xs-12">
                     <div class="testimonialContent  bg-color-4">
                         <span class="userSign border-color-4"><img src="{{ asset('Template_front_principal/img/testimonial/1.jpg') }}" alt="img" class="img-circle img-responsive"></span>
                         <p></p>
                         <h3 style="font-style: normal;">Amira Chaouachi<br> <small>Taches</small></h3>
                     </div>
                 </div>
                 <div class="col-sm-4 col-xs-12">
                     <div class="testimonialContent  bg-color-5">
                         <span class="userSign border-color-5"><img src="{{ asset('Template_front_principal/img/testimonial/1.jpg') }}" alt="img" class="img-circle img-responsive"></span>
                         <p></p>
                         <h3 style="font-style: normal;">Amel Ayari<br> <small>Taches</small></h3>
                     </div>
                 </div>
                 <div class="col-sm-4 col-xs-12">
                     <div class="testimonialContent  bg-color-6">
                         <span class="userSign border-color-6"><img src="{{ asset('Template_front_principal/img/testimonial/1.jpg') }}" alt="img" class="img-circle img-responsive"></span>
                         <p></p>
                         <h3 style="font-style: normal;">Haythem Ahmed<br> <small>Taches</small></h3>
                     </div>
                 </div>
             </div>
         </div>
     </section>

 {% endblock body %}
