{% extends 'KidsFrontBundle::Template_User.html.twig' %}

{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ><img src="{{ asset('Template_front_principal/img/logo-school.png') }}" alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1  ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabPrestataireInfo') }}">Consulter les détails</a></li>
                            <li class=""><a href="{{ path('modifieretablissement') }}">Modifier les informations de l'etablissement</a></li>
                            <li class=""><a href="{{ path('ajouterEtablissement') }}">Ajouter un établissement</a></li>



                            {#{% if etab is empty %}#}
                                {#<li class=""><a href="">Supprimer </a></li>#}
                            {#{% elseif etab is not empty %}#}
                                {#<li class=""><a href="{{ path('supprimeretablissementparid',{'id':etab.id}) }}">Supprimer </a></li>#}


                            {#{% endif %}#}


                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherprof') }}">Consulter liste des enseigants</a></li>
                            <li class=" "><a href="{{ path('ajouterEnseignant') }}">Ajouter Enseignant</a></li>
                            <li class=" "><a href="{{ path('afficherprofpourmodifier') }}">Modifier Enseignant</a></li>
                            <li class=" "><a href="{{ path('afficherprofpoursupprimer') }}">Supprimer Enseignant</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-4">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span>Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergalleriePres') }}">Consulter la gallerie des images</a></li>
                            <li class=" "><a href="{{ path('ajouterGallerieImage') }}">Ajouter une image</a></li>
                            <li class=" "><a href="{{ path('afficherimagepourmodifier') }}">Modifier une image</a></li>
                            <li class=" "><a href="{{ path('afficherimagepoursupprimer') }}">Supprimer une image de la gallerie</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


{% endblock Menu %}


{% block bandeau %}


        <section class="pageTitleSection">
            <div class="container">
                <div class="pageTitleInfo">
                    <i><h2>Espace Prestataire de service</h2> </i>
                    <br>

                    <h2>Bienvenue {{ app.user.username|default('') }}</h2>
                    <ol class="breadcrumb">
                    </ol>
                </div>
            </div>
        </section>
{% endblock bandeau %}





{% block body %}

    <section class="mainContent full-width clearfix courseSingleSection" style="padding: 30px;">
        <div class="container">

            {% if etab is empty %}


                <section class="mainContent full-width clearfix" style="margin-top: 30px;height:150px; ">

                    <div class="sectionTitle text-center">
                        <h2>
                            <span class="shape shape-left bg-color-4"></span>
                            <span>Aucun etablissement existant !! Veuillez ajouter votre étabissement</span>
                            <span class="shape shape-right bg-color-4"></span>
                        </h2>
                    </div>

                </section>


            {% elseif etab is not empty %}

                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12 block">
                        <div class="thumbnail thumbnailContent alt">
                            <img src="{{ asset('uploads/images/' ~ etab.imageEtablissement) }}" alt="image" class="img-responsive">
                            <div class="caption border-color-1">
                                <h3 class="color-1">{{ etab.nomEtablissement }}</h3>

                                <div class="caption border-color-2">
                                    <h3 class="color-2">Description : </h3>
                                    <p>{{ etab.descriptionEtablissement }}</p>
                                    {#<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>#}
                                </div>

                                <div class="caption border-color-2">
                                    <h3 class="color-2">Exigence du {{ etab.typeEtablissement }} : {{ etab.nomEtablissement }} </h3>
                                    <p>{{ etab.exigenceEtablissement }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <aside>
                            <div class="rightSidebar">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-color-1 border-color-1">
                                        <h3 class="panel-title">Course Information</h3>
                                    </div>

                                    <div class="panel-body">
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-left iconContent bg-color-2">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body iconContent">
                                                    <h4 class="media-heading color-2">Date de création</h4>
                                                    <p>{{ etab.dateCreationEtablissement|date("m/d/Y") }}</p>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left iconContent bg-color-3">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body iconContent">
                                                    <h4 class="media-heading color-3">Ouverture</h4>
                                                    <p>{{ etab.horaireEtablissement }}</p>
                                                </div>
                                            </li>
                                            <li class="media iconContet">
                                                <div class="media-left iconContent bg-color-4">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body iconContent">
                                                    <h4 class="media-heading color-4">Contact </h4>
                                                    <p>954 124 2542</p>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left iconContent bg-color-5">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body iconContent">
                                                    <h4 class="media-heading color-5">Adresse : </h4>
                                                    <p>{{ etab.countryEtablissement }}<br> {{ etab.adresseEtablissement }}<br> {{ etab.codepostalEtablissement }}</p>
                                                </div>
                                            </li>
                                            {#<li><a href="#" class="btn btn-primary bg-color-6 btn-block">Register now</a></li>#}
                                        </ul>
                                    </div>
                                </div>
                                {#<div class="btnPart">#}
                                {#<a href="#" class="btn btn-primary btn-block bg-color-6">Enroll now</a>#}
                                {#</div>#}
                            </div>
                        </aside>
                    </div>
                </div>

            {% endif %}


        </div>
    </section>

{% endblock body %}


