{% extends 'KidsFrontBundle::templateAffichserv.html.twig' %}
{% block body %}

    <h3 class="box-title">Liste des Rendez-vous </h3>
    <table border="2" class="table table-bordered table-hover" >

        <tr>

            <th>Nom Prenom</th>
            <th>lieu Rendez-vous</th>
            <th>Service concerné</th>
            <th>Date Rendez-vous</th>
            <td>Utilisateur </td>



        </tr>
        {% for p in serv %}
            <tr>

                <td> {{ p.nomprenom}} </td>

                <td> {{ p.lieuRendezVous }} </td>
                <td> {{ p.idServiceRendezVous.getNomService()}} </td>
                <td> {{ p.dateRendezVous|date }} </td>
                <td> {{ p.idUserRendezVous.getPrenomUser }} </td>


            </tr>
        {% endfor %}
    </table>



{% endblock %}