{% extends 'KidsFrontBundle::Template_User.html.twig' %}

{% block Menu %}
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-left: -5%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="{{ asset('Template_front_principal/img/logo-school.png') }}"
                                             alt="Kidz School"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop color-1 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span
                                    class="active">Etablissement</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=""><a href="{{ path('afficherEtabByParent') }}">Consulter les
                                    Etablissements</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-3 active ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span>Enseignants</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('afficherEnseignParent') }}">Consulter la liste des enseigants</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Gallerie</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ path('affichergallerie') }}">Consulter la gallerie des images</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop color-1 active ">
                        <a href="{{ path('publications') }}" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-1" aria-hidden="true">
                            </i>
                            <span class="active">Publications</span>
                        </a>

                    </li>

                    <li class="dropdown singleDrop color-5 active">
                        <a href="{{ path('afficherespaceenfant') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-gg bg-color-5" aria-hidden="true"></i>
                            <span class="active">Espace Kids</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('ProduitAfficherFront') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Produit</span></a>
                    </li>


                    <li class="dropdown singleDrop color-5 active">
                        <a href="{{ path('afficherespaceenfant') }}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-gg bg-color-5" aria-hidden="true"></i>
                            <span class="active">Clubs</span>
                        </a>
                    </li>

                    <li class="dropdown singleDrop color-3 active">
                        <a href="{{ path('services') }}" class="dropdown-toggle" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-ul bg-color-3" aria-hidden="true">
                            </i> <span class="active">Service</span></a>
                    </li>

                    <li class="dropdown singleDrop color-4 active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true">
                            </i> <span class="active">Réclamations</span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class=" "><a href="{{ url('fos_message_inbox' ) }}">Mes réclamations</a></li>
                            <li class=" "><a href="{{ url('fos_message_thread_new' ) }}">Envoyer nouvelle reclamation</a>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


{% endblock Menu %}

{#{% block favoris %}#}
    {#<li class="cart-dropdown">#}
        {#<a href="#" class="bg-color-6 shop-cart">#}
            {#<i class="fa fa-shopping-basket " aria-hidden="true"></i>#}
            {#<span class="badge bg-color-1">{{ favoris|length }}</span>#}
        {#</a>#}
        {#<ul class="dropdown-menu dropdown-menu-right">#}
            {#<li><i class="fa fa-shopping-basket " aria-hidden="true"></i>{{ favoris|length }} items in your cart</li>#}

            {#{% for i in favoris %}#}

                {#{% if loop.index < 2 %}#}
                    {#<li>#}
                        {#<a href="">#}
                            {#<div class="media">#}
                                {#<div class="media-left">#}

                                    {#<img src="{{ asset('uploads/images/' ~ i.etablissement.imageEtablissement) }}"#}
                                         {#alt="cart-Image">#}
                                {#</div>#}
                                {#<div class="media-body">#}
                                    {#<h4>{{ i.etablissement.nomEtablissement }}</h4>#}
                                {#</div>#}
                            {#</div>#}
                        {#</a>#}
                        {#<span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>#}
                    {#</li>#}

                {#{% elseif loop.index == 2 %}#}
                    {#<li>#}
                        {#<a href="{{ path('getAllFavoris') }}">#}
                            {#<button type="button" class="btn btn-primary">Voir plus</button>#}
                        {#</a>#}
                    {#</li>#}

                {#{% endif %}#}

            {#{% endfor %}#}
        {#</ul>#}
    {#</li>#}
{#{% endblock favoris %}#}


{% block bandeau %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                {#<i><h2>Bonjour {{ app.user.username|default('') }}</h2></i>#}
                {#<br>#}

                <h2 style="font-style: normal; "> </h2>
            </div>
        </div>
    </section>
{% endblock bandeau %}

{% block body %}


    <section class="mainContent full-width clearfix productSection">
        <div class="container">
            <div class="row">

                {#Lekbiirrr#}
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-10 pull-right">
                        {% for p in form %}



                            <div class="col-md-4 col-xs-6">
                                <div class="box bg-color-6">
                                    <div class="box-img border-color-6 text-center">
                                        <a href="single-product.html">
                                            <img src="{{ asset('uploads/images/' ~ p.imageProduit) }}" alt="image" class="img-responsive">
                                        </a>
                                        <a data-toggle="modal" href=".html" class="btn-block"><i class="fa fa-eye" aria-hidden="true"></i>Quick View</a>
                                    </div>
                                    <div class="box-info">
                                        <h4><b>{{ p.nomProduit }}</b></h4>
                                        <div class="produit">
                                            <span><b>Prix: {{ p.prixProduit}}</b></span>
                                        </div>

                                        <li><a href="{{ path('detailProduitFront',{'id':p.id}) }}" class="btn btn-primary bg-color-6 btn-block">Details</a></li>

                                    </div>
                                </div>
                            </div>







                        {% endfor %}
                        {#S8iirrr#}
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12 pull-left">
                        <aside>
                            <div class="panel panel-default courseSidebar">

                                {#<form style="margin: 2%;" class="example" action="{{ path('recherche')}}">
                                    <input type="text"  class="form-control" aria-label="Amount (to the nearest dollar)"placeholder="Recherche.." name="search" value="">
                                    <button type="submit" ><i class="fa fa-search"></i></button>
                                </form>#}

                                {#<div class="panel-heading bg-color-1 border-color-1">#}
                                {#<li><a href="{{ path('RechercherProduitFront') }}" class="panel-title">Search</a></li>#}

                                {#</div>#}

                                {{ form_start(formP) }}

                                {{ form_widget(formP.nomProduit) }}

                                {{ form_end(formP) }}
                                <div class="panel-body">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Search" aria-describedby="basic-addon2">
                                        <span class="input-group-addon" id="basic-addon2"><input class="btn btn-primary bg-color-1" type="submit" value="Search"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default courseSidebar">
                                <div class="panel-heading bg-color-5 border-color-5">
                                    <li><a href="{{ path('CategorieProduit') }}"class="panel-title"><h3></h3>Categories</a></li>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-unstyled categoryItem">
                                        {% for cat in categories %}
                                            <li><a href="{{ path('ProduitParCategorie', {'id': cat.id }) }}"> {{ cat.nomCategorie }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>



            </div>
        </div>
    </section>
{% endblock %}