
{% extends 'KidsFrontBundle::Template_User.html.twig' %}

 {% block ajouteretablissement %}

<section class="colorSection full-width clearfix bg-color-5 teamSection" id="ourTeam">
    <div class="container">
        <div class="sectionTitle text-center alt">
            <h2>
                <span class="shape shape-left bg-color-3"></span>
                <span>Meet Our Teachers</span>
                <span class="shape shape-right bg-color-3"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel teamSlider">
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-1.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Smith</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-2.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-3.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-4.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-1.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-2.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-3.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="{{ asset('bundles/kidsfront/img/home/team/team-4.jpg') }}" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="{{ path('afficherdetailprof') }}">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock ajouteretablissement %}